<head>
    <link rel="stylesheet" type="text/css" href="./static/auth.css">
    <link rel="stylesheet" type="text/css" href="./static/styles.css">
    <script src="./static/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    
</style>
<body class="auth-page">
    <div class="authmenu">
        <div id="loginForm">
            <input id="username" minlength="4" maxlength="20" type="text" name="username" placeholder="Enter username"
                required>
            <input id="password" minlength="4" maxlength="20" type="password" name="password"
                placeholder="Enter password" required>
            <button type="button" onclick="Login()">Login</button>
            <a href="#register" style="display:inline-block; color:white; text-decoration:none;">
                Don't have an account?
            </a>
        </div>

        <div id="registerForm">
            <input id="r_username" type="text" name="username" placeholder="Enter username" required>
            <input id="email" type="email" name="email" placeholder="Enter email" minlength="4" maxlength="20" required>
            <input id="r_password" type="password" name="password" placeholder="Enter password" minlength="4"
                maxlength="20" required>

            <button type="button" onclick="Register()">Register</button>
            <a href="#login" style="display:inline-block; color:white; text-decoration:none;">
                Already have an account?
            </a>
        </div>
    </div>
</body>