<head>
    <link rel="stylesheet" type="text/css" href="./static/dashboard.css">
    <link rel="stylesheet" type="text/css" href="./static/auth.css">
    <link rel="stylesheet" type="text/css" href="./static/styles.css">

    <script src="./static/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="dashboard-page">
    <div class="navbar">
        <h2>For<span class="highlight">um</span></h2>

        <div class="usermenu" tabindex="0">
            {{if .Authenticated}}
            <img src="https://icon-library.com/images/facebook-user-icon/facebook-user-icon-4.jpg" />

            <div class="dropdown-content">
                <h3 style="color:black;">{{.Name}}</h3>

                <a href="/logout" class="logout-button">Logout</a>
            </div>
            {{else}}
            <!-- Login/Register -->
            <a href="/auth" class="login-button">Login</a>
            {{end}}
        </div>
    </div>

    <div class="create-post">
        <input type="checkbox" id="show">

        {{if .Authenticated}}
        <label for="show" data-name="{{.Name}}">What's on your mind, {{.Name}}?</label>
        {{else}}
        <label for="unauth" onclick="window.location='/auth#login'">Login to create posts</label>
        {{end}}

        <div id="popup">
            <label for="show" class="close-btn" aria-label="Close popup">X</label>
            <form>
                <h4>Create post</h4>
                <input id="title" placeholder="Title" required>
                <textarea id="content" placeholder="Whats on your mind?" required></textarea>
                <select id="category">
                    <option value="programming">Programming</option>
                    <option value="music">Music</option>
                    <option value="gaming">Gaming</option>
                </select>
                <button type="button" onclick="CreatePost()">Post</button>
            </form>
        </div>
    </div>


    <div class="bottom">
        <div class="prefrences">

            <h3>Filter</h3>
            <div class="categories">
                <label>
                    <input type="radio" name="categories" value="mine" onchange="setCategory(this.value)">
                    <span>
                        <svg class="icon" viewBox="0 0 24 24" width="13" height="13" fill="none">
                            <path d="M5 14C5 14 7 14.5 8.5 17.5C8.5 17.5 14.0588 8.33333 19 6.5" stroke="currentColor"
                                stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        My Posts
                    </span>
                </label>

                <label>
                    <input type="radio" name="categories" value="liked" onchange="setCategory(this.value)">
                    <span>
                        <svg class="icon" viewBox="0 0 24 24" width="13" height="13" fill="none">
                            <path d="M5 14C5 14 7 14.5 8.5 17.5C8.5 17.5 14.0588 8.33333 19 6.5" stroke="currentColor"
                                stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Liked posts
                    </span>
                </label>
            </div>

            <h4>Categories</h4>
            <div class="categories">
                <label>
                    <input type="radio" name="categories" value="all" onchange="setCategory(this.value)">
                    <span>
                        <svg class="icon" viewBox="0 0 24 24" width="13" height="13" fill="none">
                            <path d="M5 14C5 14 7 14.5 8.5 17.5C8.5 17.5 14.0588 8.33333 19 6.5" stroke="currentColor"
                                stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        All categories
                    </span>
                </label>

                <label>
                    <input type="radio" name="categories" value="programming" onchange="setCategory(this.value)">
                    <span>
                        <svg class="icon" viewBox="0 0 24 24" width="13" height="13" fill="none">
                            <path d="M5 14C5 14 7 14.5 8.5 17.5C8.5 17.5 14.0588 8.33333 19 6.5" stroke="currentColor"
                                stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Programming</span>
                </label>


                <label>
                    <input type="radio" name="categories" value="music" onchange="setCategory(this.value)">
                    <span>
                        <svg class="icon" viewBox="0 0 24 24" width="13" height="13" fill="none">
                            <path d="M5 14C5 14 7 14.5 8.5 17.5C8.5 17.5 14.0588 8.33333 19 6.5" stroke="currentColor"
                                stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Music</span>
                </label>

                <label>
                    <input type="radio" name="categories" value="gaming" onchange="setCategory(this.value)">
                    <span>

                        <svg class="icon" viewBox="0 0 24 24" width="13" height="13" fill="none">
                            <path d="M5 14C5 14 7 14.5 8.5 17.5C8.5 17.5 14.0588 8.33333 19 6.5" stroke="currentColor"
                                stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Gaming</span>
                </label>
            </div>


        </div>

        <div class="posts"></div>
    </div>
    <script>loadPosts();</script>
</body>